*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.label{
  color:#57c5b6;
  padding:8px;
}
.loginpage{
  height: 100vh;
  width: 100vw;
  /*background-color:#03001C;*/
  display: flex;
  /*background-image: url(bg.gif);*/
  padding:0;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.left{
position: absolute;
  left: 20%;
  bottom:20%;
  padding: 0 0 0 0;
  opacity: 70%;
}

.left img{
  height: 400px;
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#061434, #0e1a2b);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(106, 134, 194, 0.242);
  box-sizing: border-box;
  /* box-shadow: 0 5px 50px #57c5b6; */
  border-radius: 15px;
  opacity:90%;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #57c5b6;
  margin-bottom: 30px;
  border: 2px;
  border-bottom: 1px solid #57c5b6;
  outline: 2px;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #57c5b6;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #57c5b6;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  left: 110px;
  display: inline-block;
  padding: 10px 20px;
  color: #57c5b6;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border-radius:2px;
}

.login-box a:hover {
  /*background: #57c5b6;*/
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #57c5b6,
              0 0 25px #57c5b6,
              0 0 50px #57c5b6,
              0 0 100px #57c5b6;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, 57c5b6);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, 57c5b6);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, 57c5b6);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, 57c5b6);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.right{
  position: relative;
  /* top:11%; */
  left: 70%;
}
/* .middle{
  position: relative;
  /*display: flex;
  justify-content:center;*/
  /* padding: 0;
  /* top: 52%; */
  /* right:28%;
  color: #ffffff;
  font-family: solthin;
  font-size: 3rem;
  } */ 
.v{
  color: #fff;
}
.typewriter{
  color:#57c5b6;
  font-size: 2em;
}
.typewriter {
  /* height: 100vh; */
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.text {
  width: 24ch;
  animation: typing 2s steps(24), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}